.nav-wrapper a img{
	width: 100px;
	margin-top: -13px;
}

.slider .slides img{
	background-position: 
}

.parallax-container{
	height: 250px;
}

#services{
	padding: 10px 0;
}
.col .card-panel img{
	width: 87px;
	height: 87px;
}

.carousel .carousel-item img{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

.carousel{
	margin-top: -90px !important;
	margin-left: -45px !important;
}

section{
	padding: 15px 0;
}

footer{
	padding: 3px 0;
}